<% if !news.blank? %>
  <% news.each_with_index do |newsitem, index| %>
    <% '<div class="row">' if (index % 2) %>
		<div class="col-md-6">
			<div class="newz">
				<h2><%= newsitem.title %></h2>
				<p>
					<a class="visible-xs-inline" href="<%= newsitem.url %>"><%= newsitem.url_short 30 %></a>
					<a class="hidden-xs" href="<%= newsitem.url %>"><%= newsitem.url_short 50 %></a>
				</p>
			</div>
		</div>
	<% '</div>' unless (index % 2) %>
  <% end %>
<% else %>
 <div class="row">
  <h2>Keine Nachrichten!</h2>
 </div>
<% end %>